@charset "utf-8";
* {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	/*list-style-type: none;*/
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px !important;
	line-height: 18pt !important;
	font-weight: 400 !important;
	color: #000 !important;
	text-align: left !important;
	background-color: #fff;
}

body, td, th {
	color: #330033;
}

h1, h2, h4 {
	/*color: #330000;*/
}

h3, h5, h6 {
	/*color: #996666;*/
}

h5 {
	font-size: 1.3em !important;
	font-weight: bold !important;
	margin-top: 1rem !important;
	margin-bottom: 0.5rem !important;
	border-left: solid 8px #0E75DA;
	padding: 2px 8px;
}

h6 {
	font-size: 1.1em !important;
	font-weight: bold !important;
	margin-top: 1rem !important;
	margin-bottom: 0.5rem !important;
	border-left: solid 6px #0E75DA;
	padding:2px 8px;
}


a {
  color: #000099;
  text-decoration: none;
}

.normal_style {
	font-size: 16px;
}

.gray {
	color: #666666;
	font-size: 16px;
}

.white {
	color: #ffffff;
	font-size: 16px
}

.red {
	color: #ff0000;
	font-size: 16px
}

.brown {
	color: #660000;
	font-size: 16px
}

.red-mini {
	color: #ff0000;
	font-size: 14px;
}

.style_black_text {
	font-size: 16px;
	line-height: 18pt;
	color: #000000;
}

.style_black_text_big {
	font-size: 18px;
	line-height: 20pt;
	color: #000000;
}

.style_red_text_big {
	font-size: 18px;
	line-height: 20pt;
	color: #ff0000;
}

.style_black_text_bold {
	font-size: 16px;
	line-height: 22pt;
	font-weight:bold;
	letter-spacing:0;
	color: #303030;
	text-shadow: 1px 1px #eeeeee;
}

.style_black_text_with_indent {
	font-size: 16px;
	line-height: 18pt;
	color: #000000;
	text-indent: 1em !important;
	padding-left: 1em !important;
}

.style_gray_text_with_indent_mini {
	font-size: 14px;
	line-height: 18pt;
	color: #666666;
	text-indent: 0;
	padding-left: 1em;
}

.style_subject {
	font-size: 18px;
	color: #000000;
	line-height: 20pt;
	font-style: normal;
	font-weight: bold;
}

.white_bold {
	color: #ffffff;
	font-size: 16px;
	font-weight:bold;
}

.attention_gray {
	color: #666666;
	font-size: 14px;
}

.mes_bold {
	font-weight: bold;
}


.mes_gray {
	color: #909090;
	/*font-size: 1rem;*/
}

.mes_white {
	color: #ffffff;
	/*font-size: 1rem;*/
}

.mes_red {
	color: #ff0000;
	/*font-size: 1rem;*/
}


.white_title {
	color: #ffffff;
	font-size: 1.2rem;
	font-weight: bold;
}

.page_title {

	color: #505050;
	font-size: 1.4em;
	font-weight: bold;
	text-align: left;
	border-bottom: dashed 3px #e0e0e0;
	margin-top: 0.5em;
	margin-bottom: 1em;
	/*margin-left: 1em;*/
	/*margin-right: 1em;*/

}

.contents_title {

	color: #505050;
	font-size: 1.2em;
	
	font-weight: bold;
	text-align: left;
	border-bottom: dashed 2px #e0e0e0;
	margin-top: 0.5em;
	margin-bottom: 1em;
	/*margin-left: 0em;*/
	/*margin-right: 0em;*/
	display: inline-block;
}

.contents_title2 {

	color: #505050;
	border-bottom: dashed 4px #e0e0e0;
	margin-top: 0.5em;
	margin-bottom: 1em;
	font-weight: bold;
	display: inline-block;

}

table.subject {
    border:0;
    border-collapse:collapse;
    border-spacing:0;
	padding: 10px 4px 10px 4px;
	background-color:#ffffff;
    empty-cells:show;
	width: 780px;
}

.subject th {
	border-bottom:solid 1px #003399;
	border-left:solid 5px #003399;
    color:#ffffff;
    background-color:#003399;
	padding:0 ;
	text-align:left;
	width: 10px;
}

.subject td {
	border-bottom:solid 1px #000000;
    padding:0.3em 1em 0em 1em;
    text-align:left;
	font-size: 24px;
	font-weight: bold;
	font:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:#039;
	background-image:url("image/subject-table-back.png");
}


table.subject_mini {
    border:0;
    border-collapse:collapse;
    border-spacing:0;
	padding: 5px 4px 5px 4px;
	background-color:#ffffff;
    empty-cells:show;
}

.subject_mini th {
	border-bottom:solid 1px #000000;
	border-left:solid 3px #505050;
    color:#ffffff;
    background-color:#505050;
	padding:0 ;
	text-align:left;
	width: 5px
}

.subject_mini td {
	border-bottom: 0;
    text-align: left;
	font-size: 16px;
	font-weight: bold;
	text-indent: 20px;
	line-height: 30px;
	color: #505050;
	background-image: url("image/subject-table-mini-back.png");
}

.product_title {
	font-size: 1.0em;
	font-weight: bold;
	letter-spacing: 0;
	color: #303030;
	text-shadow: 1px 1px #eeeeee;
}


/* ----- テーブル角丸 -------------------------------------- */
table.edge_circle {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
	margin: 10px 0px;
    /*width: 100%;*/
}

.edge_circle {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

/*
.edge_circle tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}
*/

.edge_circle td, .edge_circle th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 7px;
	color: #000;
}

.edge_circle th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
	font-size: 16px;
}

.edge_circle td:first-child, .edge_circle th:first-child {
    border-left: none;
}

.edge_circle th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}
 
.edge_circle th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.edge_circle th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.edge_circle tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.edge_circle tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

/*
ul.navi {
	width: 150px;
	margin: 0px;
}

ul.navi, ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
*/

div.category {
	margin-top: 5px;
	height: 40px;
	line-height: 40px;
	text-indent: 25px;
	background: url("image/menu-navi/menu-navi-category-plus.png");
	cursor: pointer;
	font-size: 14px;
	color: #000000;
	
}

div.open {
	background:url("image/menu-navi/menu-navi-category-minus.png");
	color: #fff;
}

/*
ul.menu a{
	display: block;
	height: 35px;
	line-height: 35px;
	color: #164158;
}

ul.menu li{
	background: url("image/menu-navi/menu_normal.png");
	text-indent: 30px;
	font-size: 14px;
	color: #036;
}

ul.menu li.rollover{
	background:url("image/menu-navi/menu_over.png");
}
*/

/*
a {
	text-decoration:none;
}
*/

table.header {
	text-indent: 25px;
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
	text-shadow: 2px 2px #505050;
	
}
.header a {
	text-decoration: none;
}
.header td.main {
	background:url("image/header-bg-blue.png");
}
.header td.powernet {
	background:url("image/header-bg-green.png");
}
.header td.weddingnet {
	background:url("image/header-bg-pink.png");
}

/* ----- タイトル用 ------------------------------------------------------- */

.item_title {
	
 	padding: 4px;
	margin: 10px 0px;
	text-align: left;
	vertical-align: central;
	font-size: 20px;
	font-weight: bold;
	color: #505050;
	text-indent: 1.8em;
	text-shadow: 2px 2px 3px #e0e0e0;
	background-image: url("image/bg-item_title_left.png");
	background-color: #f0f0f0;
    background-position: left center;
	background-size: cover;
	width: 100%;
	
}


/* ----- ミニタイトル用 ------------------------------------------------------- */

.item_title_mini {

	padding: 0 0 4px 0;
	margin: 10px 0px;
	text-align: left;
	vertical-align: central;
	font-size: 18px;
	font-weight: bold;
	color: #505050;
	text-indent: 1.2em;
	text-shadow: 1px 1px 2px #e0e0e0;
	background-image: url("image/bg-item_title_mini.png");
	background-color: #f0f0f0;
    background-position: left center;
	background-size: cover;
	width: 100%;
}

/* ----- ナビゲーションメニュー用 ------------------------------------------------------- */

/*
#main_menu {
	position: relative;
	z-index: 10000;
}

ul {
	margin:0;
	padding:0;
}

ul.main li {
	float: left;
	width: 160px;
	height: 38px;
	background: url("image/btn-menu-off.png");
	position: relative;
	margin: 0;
	padding: 0;
}

ul.main li a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 38px;
	text-indent: 0px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	position: relative;
}

ul.main li a:hover {
	background: url("image/btn-menu-on.png");
}


ul.sub li {
	float: left;
	width: 160px;
	height: 38px;
	background: url("image/btn-menu-sub-off.png");
	position: relative;
	margin: 0;
	padding: 0;
}

ul.sub li a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 38px;
	text-indent: 0px;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	color: #303030;
	text-decoration: none;
	text-shadow: 0;
	position: relative;
}

ul.sub li a:hover {
	background: url("image/btn-menu-sub-on.png");
}


ul.sub li ul.sub {
    position: absolute;
    left: 160px;
    top: 0;
}

ul.sub {
    display: none;
}

ul.main:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

*/

/* ----- bootstarp上書き/追加 ------------------------------------------------------- */
.bg-header {
  background-color: #0059b2 !important;
}

.navi_bg {
	float: left;
	width: 160px;
	height: 38px;
	background: url("image/btn-menu-off.png");
	position: relative;
	margin: 0;
	padding: 0;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.footer {
	background-color: #f5f5f5;
	margin-top: 10px;
	padding: 20px;
}

/* ----- iframe横幅いっぱい表示用（paddingは 16:9=56.25%、4:3=75%) ------------------------------------------------------- */
.iframe-content_16vs9 {
	position: relative;
	width: 100%;
	padding: 56.25% 0 0 0;
}
.iframe-content_16vs9 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.input_box {
  width: 100%;
  height: 30px;
  border: 1px solid #aaaaaa;
  padding: 20px 0px;
   
}
.input_box input[type="text"] {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.input_textarea {
  width: 100%;
  border: 1px solid #aaaaaa;
  padding: 20px 0px;
   
}
.input_textarea input[type="texarea"] {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}